.arbitraLogo{
    display: block;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 185px;
}

/* Styling for Login Box */
.loginBox{
    background-color: white;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 1%;
    width: 40vw;
}

/* Styling for Submit Button */
.submitBtn{
    background-color: #a73034;
    border: none;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 4px;
}

/* Styling Sign Up Submit Button */
.signup-submit { 
    background-color : #a73034;
    color:white;
    padding: 0px 24px;
    height:40px;
    border: none;
    border-radius: 4px;

}



/* Styling for Email Address Input */
input[type=email] {
    width: 100%;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid lightgrey;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=email]:focus {
    border: 1px solid #be3144;
}

/* Styling for Password Input */
input[type=password] {
    width: 100%;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid lightgrey;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=password]:focus {
    border: 1px solid #be3144;
}

@media only screen and (max-width: 1025px){
    .arbitraLogo{
        display: block;
       
        margin-left: auto;
        margin-right: auto;
        width: 185px;
    }
    .loginBox{
        background-color: white;
        margin-left: 10%;
        margin-right: 10%;
        border: solid;
        border-width: 1px;
        border-color: lightgray;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 5%;
        padding-bottom: 1%;
    }
}

/* Arbitra Homepage */
.nav-red {
    background-color: #d3455b;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    gap: 2.55%;
    padding-right: 5%;
}

.nav-red a{
    text-align: center;
    font-family: Alexandria;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.1rem;
}

.nav-grey {
    background-color: #F2F5F7;
    display: flex;
    flex-direction: row;
    gap: 2.55%;
    padding: 10px;
}

.nav-grey a {
    font-size: 1.3rem;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Alexandria;
    color: black;
    text-decoration: none;
}

.search-bar-navgrey {
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;
    justify-content: flex-end;
}

.nav-logo {
    height: 80px;
    flex: start;
}

.leftbox{
    float:left;
    padding-left: 12%;
    background-color: #e3e8ed;
    width: 35%;
}

.redborderbox{
    background-color: #f6dade;
    border: solid;
    border-color: #d3455b;
    border-width: 2px;
}

.yellowborderbox{
    background-color: #fdf3d3;
    border: solid;
    border-color: #f7c325;
    border-width: 2px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.arbitraPlatform{
    color: #293845;
    font-size: 140%;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

.arbitraPlatformDesc{
    color: #293845;
    font-size: 110%;
    margin-left: 10px;
    padding-right: 150px;
}

.middlebox{
    float:left;
    padding-left: 2%;
    border: solid;
    border-color: #f7c325;
    width: 24%;

}

.industryHeader{
    color: #293845;
    font-size: 140%;
    font-weight: bold;
    padding-top: 7%;
}

.industryDesc{
    color: #d3455b;
    font-size: 150%;
    padding-bottom: 6%;
}

.rightbox{
    float:right;
    background-color: #e3e8ed;
}

.h1{
    color:green;
    text-align:center;
}
/* End of Arbitra Homepage */

/* Arbitra Dashboard */
/* HEADER */ 
.header {
    background-color: #a73034;
    position: relative;
    overflow: hidden;
    padding: 8px 24px 16px 24px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.logo_header {
    width: 100px;
}

.header-right img {
    width: 24px;
    margin-left: 16px;
}
  
  
@media screen and (max-width: 500px) {
    .header a {
      flex-direction: column;
    } 
  }

.header-2 {
    background-color: #394A59;
    position: sticky;
    overflow: hidden;
    padding: 6px 25px 6px 25px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.header-2 .header-left img {
    width: 24px;
    margin-bottom: 4px;
}

.header-2 .header-left {
    display : flex;
    flex-direction: row;
    align-items:center;
}


.header-2 .header-left a { 
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Alexandria';
    margin-right: 16px;
}

.header-2 .header-right {
    display: flex;
    justify-content: center;
}

.header-2 .header-right input, button {
    padding: 0px 4px 4px 4px;
    outline: none;
    height:28px;
}

.header-2 .header-right  button {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right:12px;
}

.header-2 .header-right img {
    position: relative;
    right:8px;
    bottom:1px;
    width: 16px;
}

.dash-container {
    display:flex;
    flex-direction:column;
    padding: 24px;
    padding-top : 48px;
    font-family: 'Alexandria';
}

.dash-container .dash-info h1{
    font-family: 'Alexandria';
    font-size: 48px;
    color:#a73034;
}

.dash-info-buttons {
    padding:28px 28px 28px 0px;
    display: flex; 
    flex-direction: row;
}

.button {
    height: 40px;
    border:solid;
    border-radius: 8px;
    padding: 0px 28px;
    margin-right: 20px;
    border-color: #a73034;
}

.button-primary { 
    background-color: #a73034;
    color:white;
}
.button-secondary { 
    background-color: white;
    color: #a73034;
}

.dash-card {
    border:solid;
    border-color: #a73034;
    border-radius: 8px;
    padding:12px 20px;
    background-color:white;
}

.dash-card h1 {
    font-family : 'Alexandria';
    color: #a73034;
}

.sub-card { 
    padding-bottom: 16px;
}

/*
.header-2 .header-left button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: transparent;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

.header-2 .header-right input, button, form {
    padding: 4px 4px 0px 4px;
    outline: none;
}


.header-2 .header-right button {
    background: none;
    outline: none;
} */


/*  */

.sidebar{
    background: #e3e8ed;
    position:relative;
    top:0px;
    bottom:0px;
    width: 20%;
    border-right: #9eadba 3px solid;
    float:left;
}

.sideApp{
    font-weight: bold;
    font-size: 18px;
}
/* End of Arbitra Dashboard */


/*INDEX PAGE */ 
.index-sidebar-small {
    background-color : #a73034;
    width: 79px;
    position: sticky;
    height:100vh;
    overflow: auto;

    display: flex; 
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    gap: 24px;

    margin-right: 0.6vw;
    padding : 12px;
}

.index-sidebar-small img {
    height: 6%;
}

#sidebar-toggle-img {
    width: 28px;
    height: 28px;
}

#sidebar-check{
    display: none;
}

#sidebar-check:checked + div {
    display: none;
}

.rightSideBar{
    position: sticky;
    float:left;
    padding-left: 0.6%;
    width: 15%;
    padding-top: 1%;
    height: 100vh;

}

.rightSideBar p{
    font-family: Alexandria;
}

/*DROPDOWN APPLICATION MENU */ 
.applicationIcon {
    height: 20px;
    padding-right: 10px;
    margin-top: -10px;
}

.mainmenubtn-warn {
    background-color: white;
    color: #a73034;
    border: none;
    font-family: Alexandria;
    padding-top: 10px;
    padding-bottom: 30px;
 }

.mainmenubtn {
    background-color: white;
    color: #606465;
    border: none;
    font-family: Alexandria;
    padding-top: 10px;
    padding-bottom: 30px;
 }
 
 .dropdown {
    position: relative;
    display: inline-block;
 }
 .dropdown-child {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

 }
 .dropdown-child a {
    color: #4B5C6B;
    padding: 20px;
    text-decoration: none;
    display: block;
    font-family: Alexandria;
 }

 .dropdown-child a:hover {
    color: #a73034;
 }

 .dropdown:hover .dropdown-child {
    display: block;
 }

 .index-directry {
    font-family: Alexandria;
    font-size: 1.2rem;
    padding-top: 4%;
 }

 .index-name a {
    color: #4B5C6B;
    padding: 20px;
    text-decoration: none;
    display: block;
    font-family: Alexandria;
 }

 .index-name a:hover {
    color: #a73034;
 }


 /*INDEX DASHBOARD */
.top-index-dashboard {
    padding-top: 0.8%;
    width: 100%;
}

/*DROPDOWN INDEX NAME */
.mainmenubtnIndex {
    background-color: white;
    color: #606465;
    border: solid 2px #606465;
    border-radius: 5px;
    font-family: Alexandria;
    font-size: 2rem;
    padding-bottom: 5vh;
    padding-left: 0.75vw;
    padding-right: 0.75vw;

    min-width: 30vw;

    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}

.mainmenubtnIndex-warn {
    background-color: #a73034;
    color: white;
    border: solid 2px #a73034;
    border-radius: 5px;
    font-family: Alexandria;
    font-size: 2rem;
    padding-bottom: 5vh;
    padding-left: 0.75vw;
    padding-right: 0.75vw;

    min-width: 30vw;
}
 
.dropdownIndex {
    position: relative;
    display: inline-block;
}

.dropdown-childIndex {
    display: none;
    background-color: white;
    min-width: 100%;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
 }

.dropdown-childIndex a {
    color: #4B5C6B;
    padding: 20px;
    text-decoration: none;
    display: block;
    font-family: Alexandria;
}

.dropdown-childIndex a:hover {
    color: #a73034;
}

.dropdownIndex:hover .dropdown-childIndex {
    display: block;
}

.recordData {
    margin-top: 1%;
}

.recordNum{
    float: left;
    border: solid 1 #e3e8ed;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #e3e8ed;
    font-family: Alexandria;
 }

 .recordSize{
    float: left;
    border: solid 1 #e3e8ed;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #e3e8ed;
    font-family: Alexandria;
 }

 /*DROPDOWN RECORDS*/

.mainmenubtnRecord {
    background-color: white;
    color: #4B5C6B;
    border: solid 2px #4B5C6B;
    border-radius: 5px;
    font-family: Alexandria;
    font-size: 1rem;
}
 
.dropdownRecord {
    position: relative;
    display: inline-block;
    padding-right: 1%;
}

.dropdown-childRecord {
    display: none;
    background-color: white;
    min-width: 150px;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
 }

.dropdown-childRecord a {
    color: #4B5C6B;
    padding: 20px;
    text-decoration: none;
    display: block;
    font-family: Alexandria;
}

#no-index {
    color: #a73034;
    padding: 20px;
    text-decoration: none;
    display: block;
    font-family: Alexandria;
}

.dropdown-childRecord a:hover {
    color: #a73034;
}

.dropdownRecord:hover .dropdown-childRecord {
    display:block;
}

.copyIcon {
    height: 28px;
    margin-top: -0.4%;
    border: solid 2px #4B5C6B;
    border-radius: 5px;
    margin-right: 0.5%;
}

/* Bottom Index Dashboard */
.bottom-index-dashboard {
    font-family: Alexandria;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
}

.subtab-p{
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
}

.subtab-p:hover{
    color: #a73034;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 2%;
  }

.card {
    height: 65.5vh;
    background-color: #e3e8ed;
    overflow: auto;
    width: 100%;
    border-radius: 0px;
}

.search-bar {
    padding: 2vh 1vw 2vh 1vw;
    border-top: solid 1px #c2c6ca;
    border-left: solid 1px #c2c6ca;
    background-color: #e3e8ed;
    border-radius: 6px 0px 0px 0px;
    
    display: flex;
    flex-direction: row;
    gap: 12px;

}

.pagination {
    border: none;
    border-radius: 6px;
    width: 20%;
    height: 3rem;

    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
}

.pagination-flex-container {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}


.pagination-inactive {
    border: solid 1px #a73034;
    border-radius: 4px;
    padding:8px;
    background-color: white;

    min-width: 28px;
    
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination-arrow {
    margin: 0 8px;
}

.pagination-active {
    border: solid 2px #a73034;
    border-radius: 4px;
    padding:8px;
    background-color: #a73034;
    color: white;

    min-width: 28px;

    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}


.search {
    border: solid 1px #a73034;
    border-radius: 6px;
    width: 80%;
    height: 3rem;

    display: flex;
    flex-direction : row;
    gap: 0;
    
}

.search-input {
    width: 80%;
    border: solid 1px #a73034;
    border-right-style: none;
    border-radius: 6px 0px 0px 6px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    height: 100%;
    outline: none;
}

.search-statistics{
    width: 20%;
    background-color: white;
    border: solid 1px #a73034;
    border-radius: 0px 6px 6px 0px;
    border-left-style: none;
    padding-top: 0.7%;
    padding-bottom: 0.5%;
    padding-right: 1.5%;
    height: 100%;
    text-align: right;
}

.search-statistics-disabled{
    width: 20%;
    background-color : transparent;
    border: solid 1px #a73034;
    border-radius: 0px 6px 6px 0px;
    border-left-style: none;
    padding-top: 0.7%;
    padding-bottom: 0.5%;
    padding-right: 1.5%;
    height: 100%;
    text-align: right;
}

/* WINDOW / MODAL UNTUK INDEX PAGE */
.window-overlay { 
    position: fixed; 

    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color : black; */
    background-color: rgba(64, 73, 100, 0.5);
    opacity: 100%;
    /* z-index: 2;  */

    display: flex;
    justify-content: center;
    align-items: center;
}

.window-index { 
    padding: 36px 30px;
    border-radius : 16px; 
    background-color: white;
    width: 60vw;
}

.window-index h1 {
    font-family: 'Alexandria';
    font-size: 24px;
    color:#BE3144;
    letter-spacing : 3px;
    font-style: bold;
    
}

.window-index h4 { 
    font-family: 'Alexandria';
    letter-spacing: 2px;
}
/* Ini buat yang create app sama create index */
.top-row-index-window {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8vh;
}

/* ini yang buat insert edit dan delete record index */
.top-row-index-window-insert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
}

.window-index-closebutton {
    float:right;
    width: 32px;
    border: none;
    background-color: white;
    margin-right: 12px;
    margin-bottom:8px;
}

.window-confirm-button { 
    background-color : #a73034;
    position: relative;
    color:white;
    padding: 0px 12px;
    height: 56px;
    border: none;
    border-radius: 4px;

    font-family: 'Alexandria';
    letter-spacing: 2px;
    margin-top : 5vh;

    width: 100%;

}

.window-confirm-button:disabled {
    background-color : #936c6e;
}

.createindex-text-input {
    /* background-color: red; */
    position: relative;
    box-sizing: border-box;
    display: block;
    /* clear:both; */
    /* height: 12vh; */
    /* margin-bottom: 40px; */
    /* padding: 10vh 0px; */
}

/* TEXT AREA INSERT & EDIT RECORD */
.record-text-input {
    font-family: Consolas, monaco, monospace;
    position: relative;
    /* background-color: red; */
    height: 24vh;
    width: 100%;
    margin-bottom: 1.5rem;
}


.insert-record  {
    border-radius: 12px;
    font-size: 10.5px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #2B2F4F;
    color: #9ECE6A;

    tab-size: 2;
    
    padding: 16px;
}

/* WARNING MESSAGE UNTUK YANG NGK DI MODAL */
.window-delete-warning-main { 
    background-color : #a73034;
    position: relative;
    color: white;
    margin: 3vh 1vw 3vh 1vw;
    height: 40px;
    border: none;
    border-radius: 4px;

    font-family: 'Alexandria';
    letter-spacing: 2px;
    margin-top : 1vh;

    width: 97.5%;
    text-align:center;
}

.loading-button-main {
    background-color : #a73034;
    position: relative;
    color:white;
    margin: 3vh 1vw 3vh 1vw;
    height: 56px;
    border: none;
    border-radius: 4px;

    font-family: 'Alexandria';
    letter-spacing: 2px;
    margin-top : 1vh;

    width: 97.5%;
    text-align: center;
}

.container-middle-width{
    width: 75%;
    margin: 3vh auto 6vh auto;
}

/* UPLOAD FILE DIV */
.upload-file-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

#upload-dropzone {
    border-radius: 12px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color:  #a73034;
    border-width: 2px; 
    background-color: #e3e8ed;
    color: black;
    box-shadow: inset 0 1px 4px 0 rgba(119,122,175,.3);

    tab-size: 2;
    
    padding: 4px;
    margin-bottom: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#upload-dropzone::file-selector-button {
    border-radius: 8px;
    font-size: 16px;
    width: 25%;
    height: 100%;
    border-style: solid;
    border-color:  #a73034;
    border-width: 2px; 
    background-color: #a73034;
    color:  #e3e8ed;;
    /* box-shadow: inset 0 1px 4px 0 rgba(119,122,175,.3); */

    padding: 4px;
    margin-right: 1rem;
}



/* WARNING MESSAGE PAS DELETE */
.window-delete-warning { 
    background-color : #FDA400;
    position: relative;
    color:black;
    padding: 0px 12px;
    height:40px;
    border: solid 2px ;
    border-radius: 4px;

    font-family: 'Alexandria';
    letter-spacing: 2px;
    margin-top : 1vh;

    width: 100%;
    text-align:center;
}

/* STYLING UNTUK CARDS DI INDEX PAGE */
.index-card {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    transition: 0.3s;

    padding: 16px;
    margin: 2vh 4vw 2vh 1vw;
    border-radius: 8px;

    width : 97%;
    background-color: white;
}

.index-card:hover { 
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
}


.index-card-buttons{
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
}

.card-button {
    background-color: #E5C8C9;
    border-radius: 8px;
    border: none;

    
}

.card-icon {
    height: 20px;
    padding: 2px;
    margin-top: -4px;
}

.card-number {
    background-color: #a73034;
    color: white;
    border-radius: 8px;
    padding:8px;
    border: none;
    height: 40px;
    min-width: 40px;
    max-width: 128px;
    text-align: center;
}

.card-main {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.card-sub {
    display: flex;
    flex-direction: row;
    padding-right: 10%;
    width: 65%;
}

.card-json {
    padding-left: 5%;
    padding-top : 1%;
    width: 90%;
}

.card-json-line {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;

    font-size: 13px;
}

.data-fields { 
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    text-overflow: ellipsis;
}

.data-header { 
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    text-overflow: ellipsis;
}

.card-image-placeholder {
    border-style: solid;
    border-color:  rgba(44, 45, 45, 0.5);
    border-width: 2px; 

    max-width: 64px;
    max-height: 64px;

    min-width: 32px;
    min-height: 32px;
}

.card-image-data {
    border-style: solid;
    border-color:  rgba(44, 45, 45, 0.5);
    border-width: 2px; 

    max-width: 512px;
    max-height: 512px;
    
    min-width: 64px;
    min-height: 64px;

    /* aspect-ratio: 1/1; */
}

/* LOADING ANIMATION */
.loader {
    display: inline-block;
    width: 28px;
    height: 28px;
    position: relative;
    border: 4px solid white;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: white;
    animation: loader-inner 2s infinite ease-in;
}


@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    
    50% {
        transform: rotate(180deg);
    }
    
    75% {
        transform: rotate(360deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }

  /* PRE-LOADER */
.pre-loader-wrapper-finish {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background-color: #a73034;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: pre-loader-finish 0.5s 1 ease-in;
    animation-direction : normal;
    animation-fill-mode : forwards;

}

.pre-loader-wrapper-loop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background-color: #a73034;
    display: flex;
    align-items: center;
    justify-content: center;

}


@keyframes pre-loader-finish {
    0% {
        opacity: 100%;
        left : 0;
    }
    
    100% {
        opacity: 0%;
        left : -100%;
    }
  }

  
.loader-finish {
    display: inline-block;
    width: 28px;
    height: 28px;
    position: relative;
    border: 4px solid white;
    animation: loader-finish 2s 1 ease;
    animation-direction : normal;
    animation-fill-mode : forwards;
}

.loader-inner-finish {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: white;
    animation: loader-inner-finish 2s 1 ease-in;
    animation-direction : normal;
    animation-fill-mode : forwards;
}

@keyframes loader-finish {
    0% {
        transform: rotate(0deg);
        opacity: 100%;
        left : 0%;
    }
    25% {
        transform: rotate(180deg);
        left : -25%;
    }
    
    50% {
        transform: rotate(180deg);
        left : -50%;
    }
    
    75% {
        transform: rotate(360deg);
        left : -75%;
    }
    
    100% {
        transform: rotate(360deg);
        left: -100%;
        opacity: 0%;
    }
}

@keyframes loader-inner-finish {
    0% {
        height: 0%;
        opacity: 100%;
        left : 0%;
    }
    
    25% {
        height: 0%;
        left : -25%;
    }
    
    50% {
        height: 100%;
        left : -50%;
    }
    
    75% {
        height: 100%;
        left : -75%;
    }
    
    100% {
        height: 0%;
        opacity: 0%;
        left : -100%;
    }
  }

.appid-delete {
    user-select: none;
}

input:disabled {
    cursor: default;
    /* background-color: white; */
    color: black;
    font-weight: bold;
}